{%  extends '::base.html.twig' %}

{%  block body %}
    <h1>Vue générale</h1>
    <hr />
    <div class="row">
    {%  for sensor in sensors %}
        <div class="panel panel-default col-md-3" style="margin-right: 10px">
            <div class="panel-body">
                 <span  style="font-size:1.5em">
                     <a href="{{ path('weather_sensors_show', {'id': sensor.id}) }}">{{ sensor.type.unit }} {{ sensor.name }}</a>
                 </span>
                <br />
                {% set currentMeasure = sensor.measures.last %}
                {%  if currentMeasure %}
                    <span  style="font-size:4em">

                    {{ currentMeasure.value }} {{  sensor.type.symbol }}
                    </span><br />
                   <span class="text-muted"><span class="glyphicon glyphicon-time"></span> {{ currentMeasure.date | time_diff }}</span>
                {%  else %}
                    <span  style="font-size:4em">

                    N/A
                    </span><br />
                    <span class="text-muted"><span class="glyphicon glyphicon-time"></span> Aucune mesure</span>
                {%  endif %}
            </div>
        </div>
    {% endfor %}
    </div>
{%  endblock %}