{%  extends '::base.html.twig' %}

{%  block body %}
    <h1>Liste des capteurs suivis</h1>
    <hr />
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Etat</th>
            <th>Type</th>
            <th>ROM</th>
            <th>Date d'ajout</th>
            <th>Dernière MàJ</th>
        </tr>
        </thead>
        <tbody>
        {% for sensor in sensors %}
            <tr>
                <td><a href="{{ path('weather_sensors_edit', {'id': sensor.id}) }}">{{ sensor.name }}</a></td>
                <td>
                    {% if sensor.connected %}
                        <span style="color:green" class="glyphicon glyphicon-ok"></span> connecté
                    {% else %}
                        <strong style="color:#CC0000;"><span class="glyphicon glyphicon-remove"></span>  déconnecté</strong>
                    {% endif %}
                </td>
                <td>{{ sensor.type }}</td>
                <td>{{ sensor.rom }}</td>
                <td>{{ sensor.created | date('d/m/Y H:i:s') }}</td>
                <td>
                    {{ sensor.lastSeen | time_diff }}
                </td>
            </tr>
        {% else %}
            <div class="alert alert-info" role="alert">Aucun capteur n'est connecté à la station.</div>
        {%  endfor %}
        </tbody>
    </table>
{% endblock %}