{% extends 'base.html.twig' %}

{%  block title %}Historique{%  endblock %}

{% block headjavascripts %}
    <script>
        $(document).ready(function(){
            var now_date = new Date({{ start }}*1000);
            var now_str = now_date.getDate() + '-' + (now_date.getMonth()+1) + '-' + now_date.getFullYear();

            var end_date = new Date({{  end }}*1000);
            var end_str = end_date.getDate() + '-' + (end_date.getMonth()+1) + '-' + end_date.getFullYear();
            loadRange(now_str, end_str);
        });


        function loadRange(start, end, id) {
            $.when(
                $.getJSON("/history/measures/2/"+start+"/"+end, function(data) {
                    dp_a = data;
                }),
                $.getJSON("/history/measures/3/"+start+"/"+end, function(data) {
                    dp_b = data;
                }),
                $.getJSON("/history/measures/4/"+start+"/"+end, function(data) {
                    dp_c = data;
                })
            ).then(function() {
                renderGraph(dp_a, dp_b);
            });

            function renderGraph(dp_a, dp_b) {
                var chart = new CanvasJS.Chart("chartContainer", {
                    theme: "light2", // "light1", "light2", "dark1", "dark2"
                    animationEnabled: true,
                    axisX:{
                        valueFormatString: "DD/MM/YY HH:mm"
                    },
                    zoomEnabled: true,
                    axisY:{
                        labelFormatter: function ( e ) {
                            return e.value + '°C';
                        },
                        stripLines: [
                        {
                            value : null,
                            color: "#007bff",
                            labelFontColor:  "#007bff",
                            label: "Moyenne : ",
                            showOnTop: true,
                            labelPlacement: "outside"
                        }
                        ]
                    },
                    toolTip:{
                        contentFormatter: function ( e ) {
                            return e.entries[0].dataPoint.label;
                        }
                    },
                    data: [{
                        type: "line",
                        xValueType: "dateTime",
                        dataPoints: dp_a,
                        name: "Temperature serre",
                        lineDashDot: "shortDashDot",
                        showInLegend: true,
                        nullDataLineDashType:  "dot",
                    },
                    {
                        type: "line",
                        xValueType: "dateTime",
                        dataPoints: dp_b,
                        name: "Temperature ex.",
                        lineDashType: "dash",
                        showInLegend: true,
                        nullDataLineDashType:  "dot",
                    },
                    {
                        type: "line",
                        xValueType: "dateTime",
                        dataPoints: dp_c,
                        name: "Temperature int.",
                        lineDashType: "longDashDot",
                        showInLegend: true,
                        nullDataLineDashType:  "dot",
                    }]
                });

                var sum = 0;
                var length = chart.options.data[0].dataPoints.length;
                for( var i = 0; i < length; i++ )
                    sum += chart.options.data[0].dataPoints[i].y;
                average = sum / length;


                chart.options.axisY.stripLines[0].value = average;
                chart.options.axisY.stripLines[0].label += average.toPrecision(3) + "°C";

                chart.render();
            }
        }
    </script>
{%  endblock %}

{%  block body %}

    <h1>Historique</h1>
    <div id="chartContainer" style="height: 370px; width: 100%; margin-top: 40px;padding-left:-40px;"></div>

    <a href="{{  todayRoute}}">dernières 48 heures</a> /
    <a href="{{  weekRoute }}">depuis 2 semaines</a> /
    <a href="{{  monthRoute }}">depuis 2 mois</a> /
    <a href="{{  yearRoute }}">depuis un an</a>
<hr />
    <form class="form-inline">
        <div class="form-group mx-sm-3">
            <label for="startDate">du&nbsp;</label>
            <input type="text" class="form-control" id="startDate"  value="{{ start|date('d-m-Y') }}" >
            <label for="endDate">&nbsp;au&nbsp;</label>
            <input type="text" class="form-control" id="endDate" value="{{ end|date('d-m-Y') }}">
        </div>
        <a id="see_graph" class="btn btn-outline-primary" href="#">voir</a>
    </form>
    <hr />
    <br />

    <script>
        $('#see_graph').click(function () {
            var date_start = $('#startDate').val();
            var date_end = $('#endDate').val();

            url = '/history/' + date_start + '/' +date_end;

            $(this).attr("href", url);
        });
    </script>

{% endblock %}

{% block javascripts %}
    {{  parent() }}
    <script src="{{ asset('js/canvasjs.min.js') }}"></script>
{% endblock %}
