{% extends 'base.html.twig' %}

{% block title %}Mesures des sondes{% endblock %}

{% block body %}
        <span id="sunrise" style="display:none"></span>
        <span id="sunset" style="display:none"></span>
        <span id="solar_noon" style="display:none"></span>
    <div class="row">
            {% for last_measure in last_measures %}
                <div class="col-lg-4">
                    <div class="card" style="margin-top:20px;width: 20rem;border-left: 2px solid black">
                        <div class="card-body">
                            <h4 class="card-title">{{ last_measure.sensor.name }} <small class="text-muted">
                                {% if last_measure.measure.date|diff == 0 %}
                                    À l'instant
                                {% else %}
                                    il y a {{ last_measure.measure.date|diff }} minutes
                                {% endif %}
                            </small></h4>
                           
                            <p class="card-text">
                                    <img src="https://cdn2.iconfinder.com/data/icons/game-center-mixed-icons/512/temperature.png"
                                         width="25" height="25"/> <strong style="color:{{last_measure.color}}">{{ last_measure.measure.value }}</strong>°C
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
    </div>
    <div class="row">
        <div id="chartContainer" style="height: 370px; width: 100%; margin-top: 40px;padding-left:-40px;"></div>
        
    </div>
    <br />
    <div class="row">
        <a href="{{ path('history_recent')}}" class="btn btn-primary">Afficher tout l'historique</a>
    </div>
{% endblock %}

{% block headjavascripts %}
    <script>$(document).ready(function () {
            var sunriseAPI = "https://api.sunrise-sunset.org/json?lat=46.7953668&lng=-1.4109982,16.5&formatted=0&callback=foo";
    
            $.when(
                $.ajax({
                    url: sunriseAPI,
                    dataType: 'jsonp',
                    success: function (data) {
                        var informations = data.results;

                        $('#sunrise').html(informations.sunrise);
                        $('#sunset').html(informations.sunset);
                        $('#solar_noon').html(informations.solar_noon);
                    }
                }),
                $.getJSON("/today/2", function(data) {
                    dp_a = data;
                }),
                $.getJSON("/today/3", function(data) {
                    dp_b = data;
                }),
                $.getJSON("/today/4", function(data) {
                    dp_c = data;
                })
            ).then(function() {
                renderGraph(dp_a, dp_b);
            });

            function getTime(timestamp) {
                const event = new Date(timestamp);

                return event.getHours() + ':' + event.getMinutes();
            }

            function renderGraph(dp_a, dp_b) {
                console.log();
                var chart = new CanvasJS.Chart("chartContainer", {
                    theme: "light2", // "light1", "light2", "dark1", "dark2"
                    animationEnabled: true,
                    axisX:{
                        valueFormatString: "HH'h'",
                        stripLines: [
                          {
                            value : new Date($('#solar_noon').html()),
                            color: "#009999",
                            labelFontColor:  "#009999",
                            label: "Midi solaire",
                            labelPlacement: "inside",
                            labelAlign: "near",
                            opacity: .8
                        },
                        {
                            value : new Date($('#sunrise').html()),
                            color: "#009999",
                            labelFontColor:  "#009999",
                            label: "Lever du soleil",
                            showOnTop: true,
                            labelPlacement: "inside",
                            labelAlign: "near",
                            opacity: .8
                        },
                        {
                            value : new Date($('#sunset').html()),
                            color: "#009999",
                            labelFontColor:  "#009999",
                            label: "Coucher du soleil",
                            showOnTop: true,
                            labelPlacement: "inside",
                            labelAlign: "near",
                            opacity: .8
                        },
            
                        ]
                    },
                    zoomEnabled: true,
                    axisY:{
                        labelFormatter: function ( e ) {
                            return e.value + '°C';
                        },
                        stripLines: [
                        {
                            value : null,
                            color: "#009999",
                            labelFontColor:  "#009999",
                            label: "Moyenne serre ",
                            showOnTop: true,
                            labelPlacement: "outside",
                            lineDashType: "shortDot",
                            opacity: .8
                        },
                        {
                            value : null,
                            color: "#9966ff",
                            labelFontColor:  "#9966ff",
                            label: "Moyenne extérieur ",
                            showOnTop: true,
                            lineDashType: "shortDot",
                            labelPlacement: "outside"
                        },
                        {
                            value : null,
                            color: "#000099",
                            labelFontColor:  "#000099",
                            label: "Moyenne intérieur ",
                            showOnTop: true,
                            lineDashType: "shortDot",
                            labelPlacement: "outside"
                        }
                        ]
                    },
                    toolTip:{
                        contentFormatter: function ( e ) {
                            return e.entries[0].dataPoint.label;
                        }
                    },
                    data: [{
                        type: "line",
                        xValueType: "dateTime",
                        dataPoints: dp_a,
                        name: "Temperature serre",
                        showInLegend: true,
                        nullDataLineDashType:  "dot",
                    },
                    {
                        type: "line",
                        xValueType: "dateTime",
                        dataPoints: dp_b,
                        name: "Temperature ext.",
                        showInLegend: true,
                        nullDataLineDashType:  "dot",
                    },
                    {
                        type: "line",
                        xValueType: "dateTime",
                        dataPoints: dp_c,
                        name: "Temperature int.",
                        showInLegend: true,
                        nullDataLineDashType:  "dot",
                    }]
                });

                function mean(index) {
                    var sum = 0;
                    var length = chart.options.data[index].dataPoints.length;
                    for( var i = 0; i < length; i++ )
                        sum += chart.options.data[index].dataPoints[i].y;

                    return sum / length;
                }
            
                for( var index = 0; index < 3; index++ ) {
                    average = mean(index);
                    chart.options.axisY.stripLines[index].value = average;
                    chart.options.axisY.stripLines[index].label += average.toPrecision(3) + "°C";
                }

                chart.render();
            }
        });
    </script>
{% endblock %}

{% block javascripts %}
    {{  parent() }}
    <script src="{{ asset('js/canvasjs.min.js') }}"></script>
{% endblock %}
